.cabeçalho_menu-hambuerguer{
    width:24px;
    height:24px;
    background-image: url("../img/menu.svg");
    display: inline-block;
}
.cabeçalho{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}